body {
  background: url('./assets/bg.png') no-repeat;
  background-position: calc(50% + 850px) top;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.leaflet-container {
  height: 400px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
  border-radius: 6px;
}

.leaflet-container img {
  filter: grayscale(100%);
}

.leaflet-container .leaflet-marker-icon {
  filter: grayscale(0);
}