body {
  background: url('./assets/bg.png') no-repeat;
  background-position: calc(50% + 850px) top;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

.leaflet-container img {
  filter: grayscale(100%);
}

.leaflet-container .leaflet-marker-icon {
  filter: grayscale(0);
}